h1 {
    font-size: 1.5rem;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    box-shadow: 3px 3px 2px rgb(52, 70, 70) ;
    margin-top: 25px;
    margin-bottom: 25px;
    opacity: 0.5;
}
.image {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
   

}
.label {
    background-color: burlywood;
    display: block;
    width: 200px;
}

}
.input {
    width: 900px;
  
}
.form {
    display: flex;
    flex-direction: row;
}
.form-control {
    margin-top: 5px;
    margin-bottom: 4px;
}
#nav0{
    box-shadow: 3px 3px 2px rgb(52, 70, 70) ;
}

#nav{
    box-shadow: 3px 3px 2px  #ffc107;
}
#nav1{
    box-shadow: 3px 3px 2px  #198754;
}
.error {
    font-size: 12px;
    padding: 6px 0 4px;
    color: red;
    display: block
  }
footer {
    box-shadow: 3px 3px 2px rgb(52, 70, 70) ;
}
