html  {
    background-color: #b3ffff;  
    /* text-align: left; */
}

.error {
    font-size: 12px;
    padding: 6px 0 4px;
    color: red;
    display: block
  }
  
  .error:first-letter {
    text-transform: uppercase
  }
